
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson</title>
    <link rel="stylesheet" href="/lesson.css">
    <link rel="stylesheet" href="/header.css">
    
 
</head>
<body>
<div class="container1">
    <header id="header">
        <h1 style="color: aliceblue;">TypingClub</h1>
        <nav>
            <a href="/" class="a1">Home</a>
            <a href="/lesson" class="a2">Lessons</a>
            <div class="dropdown">
                <button class="a2">TypingGame</button>
                <div class="dropdown-content">
                    <a href="/game-2" class="game-link"><img src="../img/icons8-typing-50.png" alt="Game 1"> Game1</a>
                    <div class="game-details">
                        <img src="../img/game_2.png" alt="Game 1">
                        <h2>Keyboard game training</h2>
                        <p>You need to press the letter that stands out on the keyboard, this is just training...</p>
                    </div>
                    <a href="/game-1" class="game-link"><img src="../img/icons8-typing-50.png" alt="Game 2"> Game2</a>
                    <div class="game-details">
                        <img src="../img/game_1.png" alt="Game 1">
                        <h2>Latters game boll</h2>
                        <p>You need to click on the letter that falls from top to bottom so that the letter does not touch the bottom side...</p>
                    </div>
                    <a href="/game-3" class="game-link"><img src="../img/icons8-typing-50.png" alt="Game 3"> Game3</a>
                    <div class="game-details">
                        <img src="../img/game_3.png" alt="Game 1">
                        <h2>Words game spped</h2>
                        <p>You need to enter the words on the screen while the time is 60 seconds...</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

<div class="container2">
    {{!-- <h1>Typing Lessons</h1> --}}


    <div class="scroll-buttons">
        <button onclick="scrollToStage(1)">Alphabet</button>
        <br>
        <button onclick="scrollToStage(2)">The Shift Key</button>
        <br>
        <button onclick="scrollToStage(3)">Numbers</button>
    </div>
    {{!-- /*---------------------------------------- Lessons ----------------------------------------------*/ --}}

    <div class="stage" id="stage1">
        <span class="type-lesson">Alphabet</span>
        <div class="container">

            <card class="lesson-card" onclick="window.location.href='/lesson-1'">
                <div class="front">
                    <h2 class="h2">Level 1 </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning 'FJ'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes for 'f' and 'j' to improve speed and accuracy.</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

        </div>
    </div>

    <div class="stage" id="stage2">
        <span class="type-lesson">The Shift Key</span>
        <div class="container">

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>


            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

        </div>
    </div>

    <div class="stage" id="stage3">
        <span class="type-lesson">Numbers</span>
        <div class="container">

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

            <card class="lesson-card" onclick="window.location.href='/lesson-2'">
                <div class="front">
                    <h2 class="h2">Level - </h2>
                    <div class="img">
                        <img src="/img/abc.png" alt="ABS">
                    </div>
                    <h3 class="h3">Learning '-'</h3>
                </div>
                <div class="back">
                    <p>Learn the correct keystrokes - ...</p>
                </div>
            </card>

        </div>
    </div>
</div>

<script>
    // JavaScript function to scroll to a specific stage
    function scrollToStage(stage) {
        document.getElementById('stage' + stage).scrollIntoView({ behavior: 'smooth' });
    }
</script>

</body>
</html>

