<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Registration</title>
</head>
<body>
    <div class="wrapper">
        <form action="/auth/register" method="POST" >
            <h1>Registration</h1>

            <div class="input-box">
                <input type="text" id="name" name="name" required placeholder="Name">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box"> 
                <input type="email" id="email" name="email" required placeholder="Email" autocomplete="email">
                <i class='bx bxs-envelope' ></i>
            </div>
            <div class="input-box">
                <input type="password" id="password" name="password" required placeholder="Password" autocomplete="current-password">
                <i class='bx bxs-lock-open-alt' ></i>
            </div>
             <div class="input-box">
                <input type="password" id="passwordConfirm" name="passwordConfirm" required placeholder="Confirm Password" autocomplete="current-password">
                <i class='bx bxs-lock-open-alt' ></i>
            </div>

            <button type="submit" class="btn" onclick="login()">Register</button>

            <button type="button" class="btn-google" onclick="signIn()">
                <img src="img/icons8-google-100.png" alt="Іконка"> Sign In
            </button>

            <div class="register-link">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
             {{#if message }}
            <h4 class="messager"> {{message}} </h4>
             {{/if}}
        </form>
    </div>
   



    <script>
 function login(){
    localStorage.setItem('isRegistered', 'true');
}

function signIn() {
    localStorage.setItem('isRegistered', 'true');

    let oauth2Endpoint = "https://accounts.google.com/o/oauth2/v2/auth"

    let form = document.createElement('form')
    form.setAttribute('method', 'GET')
    form.setAttribute('action', oauth2Endpoint)

    let params = {
        "client_id": "89192876707-q61vsvn6utggb1v0qkt870gcg6h9mjl7.apps.googleusercontent.com",
        "redirect_uri": "http://localhost:5001/profile",
        "response_type": "token",
        "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/youtube.readonly",
        "include_granted_scopes": 'true',
        'state': 'pass-through-value'
    }

    for (var p in params) {
        var input = document.createElement('input')
        input.setAttribute('type', 'hidden')
        input.setAttribute('name', p)
        input.setAttribute('value', params[p])
        form.appendChild(input)
    }
    document.body.appendChild(form)
    form.submit()
 
}
    </script>
</body>
</html>
