* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.container {
    width: 100%;
    height: 100vh; 
    background-color: #084f8e;
    background-image: url(../img/sky2.png), linear-gradient(0deg, #084f8e, #083466 80%);
    animation: moveStars 70s linear infinite;
    position: relative;
    overflow: hidden;
    padding: 10px 2%;
}


.container2 {
    height: 500px;
    width: 100%;
    background-color: #fff;
}



@keyframes moveStars {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; } /* Змінюйте значення від'ємного числа для швидкості руху */
}


  


.cursor {
    display: inline-block;
    width: 2px;
    margin-left: 5px;
    height: 40px;
    margin-bottom: -4px;
    background: rgba(255, 255, 255, 1);
    -webkit-animation: cursor_anim 1s infinite;
    position: absolute;
}

@-webkit-keyframes cursor_anim {
    0% {
        background: white;
    }
    45% {
        background: white;
    }
    46% {
        background: #084f8e;
    }
    89% {
        background: #084f8e;
    }
    90% {
        background: white;
    }
    100% {
        background: white;
    }
}

@-webkit-keyframes moon_anim {
    0% {
        -webkit-transform: scale(0.9);
        box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    }
    2% {
        -webkit-transform: scale(1);
        box-shadow: 0 0 80px rgba(255, 255, 255, 1);
    }
    20% {
        -webkit-transform: scale(1);
        box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    }
    100% {
        -webkit-transform: scale(1.2);
        -webkit-transform: rotate(365deg);
        box-shadow: 0 0 80px rgba(255, 255, 255, 1);
    }
}

.moon {
    border-radius: 100%;
    position: absolute;
    top: 33%;
    left: 20%;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
    width: 200px;
    transition: 1s linear all;
    animation: moon_anim 200s infinite;
    animation-timing-function: linear;
    z-index: 0; 
    transition: opacity 0.3s; /* Зміна прозорості для зникнення місяця за хмарами */

}

.blok {
    position: absolute;
    top: 43%; /* Початкове положення блоку на половині екрану */
    left: 45%;    
    transform: translateY(-50%);
    z-index: 2; 
    transition: opacity 0.5s ease; /* Плавний перехід для з'явлення блоку */
}


.blok h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 10;
    padding-bottom: 40px;

}

.content {
    width: 500px;
    color: #ffffff;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #084f8e;
    padding: 13px 60px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover, .btn:active {
    background: rgb(255, 255, 255) !important;
    box-shadow: 0 0 10px #b298fb;
    color: black !important;
}

@-webkit-keyframes cloud_anim_right {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}

@-webkit-keyframes cloud_anim_left{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2000px 0;
    }
}

.clouds {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    animation-timing-function: linear;
    z-index: 2;
}


#clouds3 {
    margin-top: -30px;
    background-position-x: -140px;
    opacity: .7;
    -webkit-animation: cloud_anim_right 150s infinite;
    animation-timing-function: linear;
    background: url(../img/clouds3.png);
}

#clouds1 {
    margin-top: 0;
    animation-timing-function: linear;
    background: url(../img/clouds1.png);
}

#clouds2 {
    -webkit-animation: cloud_anim_left 150s infinite;
    margin-top: 20px;
    animation-timing-function: linear;
    background: url(../img/clouds2.png);
    border-bottom: 10px solid white;
}

@media screen and (max-width: 768px) {
    .moon {
        display: none; 
    }
    .blok {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .blok h1 {
        text-align: center; 
    }
     
    .btn{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }   
}

.hidden {
    display: none;
}


