* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


body{
  font-family: 'Montserrat', sans-serif;
    background-image: radial-gradient(circle, #5c0067 10%, #084f8e 100%);
}

.container2 {
   height: 2200px;
    padding-top: 120px;
}

.container2 h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 1300px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Додано для обгортання наступного ряду */
}

.lesson-card {
    /* width: calc(33.33% - 100px);  */
    height: 180px;
    width: 180px;
    position: relative;
    perspective: 1000px;
    margin: 20px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
 
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {

  background-color: #fff;
}
.back {
  text-align: center;

  padding: 10px;
  justify-content: center;
  align-items: center;
  background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.993);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  transform: rotateY(180deg);
}
.lesson-card:hover .front {transform: rotateY(180deg);}
.lesson-card:hover .back {transform: rotateY(360deg);}

.h2 {
  height: 20px;
  width: 100px;
    padding: 5px;
    color: #000000;
}
.h3 {
  height: 20px;
  width: 190px;
    padding: 5px;
    color: #000000;
    position: absolute;
    bottom: 10px;
    text-align: center;

}
.h3 h3 {
  text-align: center;
}

.img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 40px;
  left:38px;

}


.lesson-card p {
    letter-spacing: 1px;
    color: #000000;
}


.scroll-buttons {
  text-align: center;
  position: fixed;
  top: 20px; /* Встановлюємо положення знизу */
  left: 50%; /* Центруємо відносно горизонталі */
  transform: translateX(-50%); /* Центруємо відносно вертикалі */
  z-index: 1000; /* Забезпечуємо високий індекс накладання, щоб кнопки були поверх іншого контенту */
}

.scroll-buttons button {
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px; /* Додаємо відступи всередині кнопки */
  border: none; /* Видаляємо межу */
  border-radius: 5px; /* Закруглюємо кути */
  background-color: #084f8e; /* Задаємо колір фону */
  color: #fff; /* Задаємо колір тексту */
  cursor: pointer; /* Змінюємо вигляд курсора при наведенні на кнопку */
  transition: background-color 0.3s ease; /* Додаємо плавний перехід для зміни кольору фону */
}

.scroll-buttons button:hover {
  background-color: #5f43b2; /* Змінюємо колір фону при наведенні на кнопку */
}


.type-lesson{
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    padding-left: 15%;
}



