/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
  }



  .container2 {
    height: 1000px; /* Задаємо висоту 500px */
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgb(255, 255, 255), #084f8e);
    /* background-color: #fff; */
    display: block;
    text-align: center;
    padding-top: 70px;

  }


 

   
.keyboard-base {
  width: 1085px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: rgba(194, 194, 194, 0.348);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
  margin-top: 11%;
  margin-left: 50%;
}

@media screen and (max-width: 1300px) {
    .keyboard-base{
      display: none;
    }
    .container2 {
      height: 550px; 
    }

}


.key {
  background-color: rgba(243, 243, 243, 0.81);
  border: 1px solid rgb(169, 169, 169);
  border-radius: 10px;
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
}

.keyA {
  background-color: rgb(37, 196, 244);
  border: 1px solid rgb(37, 196, 244);
  border-radius: 10px;
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
  color: #fff;
}

.key:hover {
border: 1px solid #eeeeee;

}

.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;
  font-size: 14px;
}

.space {
  grid-column: span 13;
}




/* ----------------------------------------typing speed test--------------------- */

.container-fluid {

  margin: 0 auto;

}
a{
  color: #52575d;
}
.yellow{
  color: #084f8e;
  font-size: 20px;
  text-decoration: none;
  
}


.correct{
  color: #29bb89;
}
.wrong{
  color: #e84545;
  text-decoration: underline;
}
.current{
  color: #084f8e;
  text-decoration: underline;
}
.center{
  text-align: center;
}
.if{
  display: inline-flex;
}

.box {
  max-width: 1000px;
  padding: 0 30px;
}

#heading{
  align-self: left;
  margin-top: 5px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.limits-box{
  text-align: right;
  margin: 0 35px 0 0 ;
  font-size: 15px;
}


.stats{
  margin: 10px auto 10px auto;
}

.details{
  font-size: 6rem;
}



.stat-block{
  padding: 0 30px;
  min-width: 150px;
}

@media(max-width: 600px){
  .details{
    font-size: 5rem;
  }
  .stat-block{
    min-width: 0;
  }
}

.stat-name{
  font-size: 2rem;
  position: relative;
  top: 45px;
  right: 15px;
}

.text-display{
  margin: 0 0 22px 0;
  font-size: 20px;
  text-align: center;
  min-height: 100px;
}


input:focus, textarea:focus, select:focus, a:focus{
  outline: 0 ;
}
a:hover{
  color: rgb(255, 4, 4);
  text-decoration: none;
}


textarea:focus{
  background: #084f8e;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #eeeeee;
  padding: 10px;
  font-size: 1.2rem;
  resize: none;
  text-align: center;
  margin-bottom: 10px;
}

textarea {
  background: #ffffff;
  border: 2px solid #084f8e;
  border-radius: 20px;
  color: #eeeeee;
  padding: 10px;
  font-size: 1.2rem;
  resize: none;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 1700px) {
    textarea{
      margin-bottom: 50px;
    }
    textarea:focus{
      margin-bottom: 50px;
    }
}

@media screen and (max-width: 1800px) {
  .container2{
    height: 950px;
  }
  
}

@media screen and (max-width: 1300px) {
  .container2 {
    height: 550px; 
  }

}

@media(max-width: 600px){
  #heading{
    font-size: 30px;
  }
  .text-display{
    margin: 0 0 12px 0;
    font-size: 14px;
  }
  .yellow{
    font-size: 14px;
  }
  .details{
    font-size: 4rem;
  }
  textarea:focus{
    height: 25px;
    width: 100px; 
  }
  textarea {
    height: 25px;
    width: 100px;
  }
  .container2{
    height: 400px;
  }
}